body {
  background: #edeff1;
  font-family: 'Cairo', sans-serif;
  
}


/*upload file page*/
.upback {
  background-color: #fff;
  margin-top: 120px; 
}

.upload-head {
  margin-top: 20px;
  margin-bottom: 120px;
}

.upload-head h5 {
  color: #334e9d;
}

.upload #address {
  height: 30px;
  background: #edeff1;
  margin-bottom: 20px;
}

.upload #description {
  height: 50px;
  background: #edeff1;
  margin-bottom: 20px;
}

.upload #details {
  height: 90px;
  background: #edeff1;
  margin-bottom: 20px;
}

.submit-buttons {
  margin: 0 auto;
}

.submit-buttons .x {
  margin-right: 15px;
  width: 20%;
}

.element {
  display: block;
  align-items: center;
}

i.fa-camera {
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}

i:hover {
  opacity: 0.6;
}

input {
  display: none;
}

.element img {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

/*text for file name*/
.element .file-name {
  background: #edeff1;
  margin-top: 2px;
}

.element h5 {
 font-weight: bold;
 color: #999;
}

.tags a {
  float: right;
  width: 22%;
  height: 36px;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 5%;
  font-weight: bold;
  color: #999;
}

/*///////////////////////////////////////////*/

/* register */
.logo img {
  max-width: 350px;
  max-height: 70px;
}

.register img {
display: block;
margin: 0 auto;
max-width: 150px;
max-height: 150px;

}

/*///////////////////////////////////////////*/
/*about WAM*/